<div class='col-xs-2' ></div>
<div class="col-xs-6" style='background-color: #286090; border-color: #286090;'>
  <div class='row row-padding-small'></div>
  <nav class="navbar-default" style='background-color: #286090; border-color: #286090;'  role="navigation">
  <div class="full-width-tabs" style='background-color: #286090; border-color: #286090;'> 
    <ul class="logged_in_nav nav nav-tabs" style='background-color: #286090; border-color: #286090;'>
      <li id="Home" style='background-color: #286090; border-color: #286090;' class="take-all-space-you-can"><a href="./">Home</a></li>
      <% if logged_in? %>
      <li id="DonatePet" class = "take-all-space-you-can"><a href="./">Donate A Pet</a></li> 
      <% end %>      
      <li id="About" style='background-color: #286090; border-color: #286090;' class = "take-all-space-you-can"><a href="./">About Us</a></li>
      <% if logged_in? %>
      <li class="dropdown take-all-space-you-can" style='color: #286090; background-color: #286090;'>
        <a  class="dropdown-toggle " data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
        <ul class="dropdown-menu take-all-space-you-can">
          <li><a href="./">Manage Account</a></li>
          <li><a href="./">My Inbox </a></li>
          <li><a href="./">My Listings</a></li>
		  <li><a href="./">My Profile</a></li>
      	  <li><a href="./">My Favorites</a></li> 
	    </ul>
	  </li>
      <% end %>
    </ul>
  </div>
  </nav>
</div>

<!-- login/register -->
<div class="col-xs-4" style="float:right;" id = "session-actions">
  <div class='row row-padding-small'></div>
  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: "delete", :class=>'btn pull-right btn-link',:style=>'color: whitesmoke;' %>
    <a class = 'pull-right btn btn-link' style = 'color: whitesmoke;'> Hello, <%= @current_user.name %></a>
  <% else %>
    <%= link_to 'Register', {:controller=>'users', :action=>'new'}, remote: true, :class=>'btn pull-right btn-link',:style=>'color: whitesmoke;', data: { toggle: "modal", target: "#registerModal" } %>
	<%= link_to 'Log In', {:controller=>'sessions', :action=>'new'}, remote: true, :class=>'btn pull-right btn-link',:style=>'color: whitesmoke;', data: { toggle: "modal", target: "#loginModal" }%>
  <% end %>
</div>
