<!-- Disclaimer -->
<!-- navbar divider -->
<div id = 'nav_links' class='col-xs-12' style='background-color: #286090; border-color: #286090; padding-bottom: 10px'>
  <%= render 'shared/nav_links' %>
</div>
<!-- end of navbar divider   -->

<div style='position: relative;'>
  <span class = "pawpi-logo">
    <%= image_tag("logopawpi.png", size:"64x64") %>
  </span>
  <span class="pawpi-text">
    <a href = '#' style='color: whitesmoke;'>pawpi</a>
  </span>
</div>
<!-- end of logo -->

<div style="min-width: 1024px; max-width: 1333px; margin: 0 auto; background-color: whitesmoke;">